<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aboutUs</title>
    <link rel="stylesheet" href="../stylesheets/ycStyle/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/ycStyle/about.css">

</head>

<body>
    <header>
        <div class="headerinner">
            <img src="../images/lm/logo.png" alt="" class="vueLogo">
            <h1>渐进式
                <br />JavaScript 框架</h1>
        </div>
    </header>
    <div class="carrousel">
        <div class="slide">
            <h2>Hellow,I'm Vue</h2>
            <p>Vue.js (读音 /vjuː/，类似于 view) 是一套构建用户界面的渐进式框架</p>
        </div>
        <div class="slide">
            <h2>组件</h2>
            <p>组件 (Component) 是 Vue.js 最强大的功能之一。组件可以扩展 HTML 元素，封装可重用的代码。在较高层面上，组件是自定义元素，Vue.js 的编译器为它添加特殊功能。</p>
        </div>
        <div class="slide">
            <h2>Class与Style绑定</h2>
            <p>操作元素的 class 列表和内联样式是数据绑定的一个常见需求。因为它们都是属性，所以我们可以用 v-bind 处理它们：只需要通过表达式计算出字符串结果即可。</p>
        </div>
        <div class="slide">
            <h2>事件监听</h2>
            <p>可以用 v-on 指令监听 DOM 事件来触发一些 JavaScript 代码。</p>
        </div>
        <div class="slide">
            <h2>混合</h2>
            <p>混合 (mixins) 是一种分发 Vue 组件中可复用功能的非常灵活的方式。混合对象可以包含任意组件选项。以组件使用混合对象时，所有混合对象的选项将被混入该组件本身的选项。</p>
        </div>
        <div class="slide">
            <h2>生产环境部署</h2>
            <p>开发时，Vue 会提供很多警告来帮你解决常见的错误与陷阱。生产时，这些警告语句却没有用，反而会增加你的载荷量。再次，有些警告检查有小的运行时开销，生产环境模式下是可以避免的。</p>
        </div>
        <div class="slide">
            <h2>路由</h2>
            <p>对于大多数单页面应用，都推荐使用官方支持的 vue-router 库。更多细节可以看 vue-router 文档。</p>
        </div>
        <div class="slide">
            <h2>深入响应式原理</h2>
            <p>Vue 的一个最明显的特性就是其不太引人注意的响应式系统。数据模型仅仅是普通的 JavaScript 对象。而当你修改它们时，视图会进行更新。</p>
        </div>
        <div class="slide">
            <h2>加入Vue.js社区</h2>
            <p>Vue.js 的社区正在急速增长中，如果你正在阅读本文，这是你准备好加入 Vue.js 社区的大好机会。欢迎！</p>
        </div>
    </div>

    <div class="timeAxis">
        <div class="progress">
            <a class="point"></a>
        </div>
        <div class="controller">
            <a href="#" id="up" class="arrow">
                <i class="fa fa-caret-up"></i>
            </a>
            <a href="#" id="down" class="arrow">
                <i class="fa fa-caret-down"></i>
            </a>
            <a href="#" id="left" class="arrow">
                <i class="fa fa-caret-left"></i>
            </a>
            <a href="#" id="right" class="arrow">
                <i class="fa fa-caret-right"></i>
            </a>
        </div>

    </div>

    <footer>
        <div class="inner">
            <h3>Patreon 赞助者</h3>
            <br>
            <a href="https://stdlib.com/" target="_blank">
                <img src="../images/sponsor/stdlib.png">
            </a>
            <a href="https://deepstreamhub.com" target="_blank" style="width: 130px; top: 1px;">
                <img src="../images/sponsor/deepstream.png" style="width: 130px;">
            </a>
            <a href="https://jsfiddle.net/" target="_blank">
                <img src="../images/sponsor/jsfiddle.png">
            </a>
            <a href="https://laravel.com/" target="_blank">
                <img src="../images/sponsor/laravel.png">
            </a>
            <a href="https://chaitin.cn" target="_blank" style="top: -1px;">
                <img src="../images/sponsor/chaitin.png">
            </a>
            <a href="https://htmlburger.com" target="_blank">
                <img src="../images/sponsor/htmlburger.png">
            </a>
            <a href="https://starter.someline.com/" target="_blank" style="top: -2px;">
                <img src="../images/sponsor/someline.png">
            </a>
            <a href="http://monterail.com/" target="_blank">
                <img src="../images/sponsor/monterail.png">
            </a>
            <a href="https://www.2mhost.com/" target="_blank" style="width: 90px;">
                <img src="../images/sponsor/2mhost.png" style="width: 90px;">
            </a>
            <a href="https://vuejobs.com/?ref=vuejs" target="_blank" style="width: 80px; top: 4px;">
                <img src="../images/sponsor/vuejobs.svg" style="width: 80px;">
            </a>
            <a href="https://leanpub.com/vuejs2" target="_blank">
                <img src="../images/sponsor/tmvuejs2.png">
            </a>
            <a href="https://component.io" target="_blank" style="width: 120px; top: 1px;">
                <img src="../images/sponsor/component_io.png" style="width: 120px;">
            </a>
            <a href="https://www.v2ex.com/t/379389" target="_blank" style="width: 100px;">
                <img src="../images/sponsor/v2exer.png" style="width: 100px;">
            </a>
            <a href="https://www.xfive.co/" target="_blank" style="width: 65px;">
                <img src="../images/sponsor/xfive.png" style="width: 65px;">
            </a>
            <a href="http://www.frontenddevelopermeetups.com/" target="_blank" style="width: 100px;">
                <img src="../images/sponsor/frontend-meetups.png" style="width: 100px;">
            </a>
            <a href="https://onsen.io/vue/" target="_blank" style="width: 105px;">
                <img src="../images/sponsor/onsen-ui.png" style="width: 105px;">
            </a>
            <a href="http://tooltwist.com/" target="_blank" style="width: 100px;">
                <img src="../images/sponsor/tooltwist.png" style="width: 100px;">
            </a>
            <br>

            <script>
                window.addEventListener('load', function () {
                    [].forEach.call(document.querySelectorAll('.open-collective-sponsors img'), function (img) {
                        if (img.width === 1) {
                            img.width = 0
                            img.parentElement.style.margin = '0 -1px 0 0'
                        }
                    })
                })
            </script>

        </div>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(function () {
            let idx = 0,
                flag = true;
            carrousel(idx);
            $(document).keydown(function (e) {
                e = e || window.event;
                switch (e.keyCode) {
                    case 37:
                        idx--;
                        if (idx > 8) idx = 0;
                        if (idx < 0) idx = 8;
                        carrousel(idx);
                        break;
                    case 38:
                        $("header").slideToggle();
                        $("footer").slideUp();
                        $(".carrousel").css("top", "0");
                        flag = true;
                        break;
                    case 39:
                        idx++;
                        if (idx > 8) idx = 0;
                        if (idx < 0) idx = 8;
                        carrousel(idx);
                        break;
                    case 40:
                        $("footer").slideToggle();
                        $("header").slideUp();
                        if (flag) {
                            $(".carrousel").css("top", "-30%");
                            flag = !flag;
                        } else {
                            $(".carrousel").css("top", "0");
                            flag = !flag;
                        }
                        break;
                }
            })
            $("#left").click(function () {
                idx--;
                if (idx > 8) idx = 0;
                if (idx < 0) idx = 8;
                carrousel(idx);
            })
            $("#right").click(function () {
                idx++;
                if (idx > 8) idx = 0;
                if (idx < 0) idx = 8;
                carrousel(idx);
            })
            $("#up").click(function () {
                $("header").slideToggle();
                $("footer").slideUp();
                $(".carrousel").css("top", "0");
                flag = true;
            })
            $("#down").click(function () {
                $("footer").slideToggle();
                $("header").slideUp();
                if (flag) {
                    $(".carrousel").css("top", "-30%");
                    flag = !flag;
                } else {
                    $(".carrousel").css("top", "0");
                    flag = !flag;
                }
            })

            function carrousel(idx) {
                $(".point").css("left", idx * 11 + "%");
                var slideArr = [idx - 4, idx - 3, idx - 2, idx - 1, idx, idx + 1, idx + 2, idx + 3, idx + 4];
                for (i in slideArr) {
                    if (slideArr[i] > 8) slideArr[i] -= 9;
                    if (slideArr[i] < 0) slideArr[i] += 9;
                    $(".slide").eq(slideArr[i]).addClass("order" + i).siblings().removeClass("order" + i);
                }
            }


        })
    </script>
</body>

</html>